{% extends 'client/client_main_page.html' %}
{% load staticfiles %}

{% block title %}
    Edit CV
{% endblock %}

{% block content %}

    <!-- JS добавления однотипных форм. ONLY FOR THIS CUSTOM FORM -->
    <script type="text/javascript">
        $(document).ready(function () {
            var count = 1;
            var origin = $("#origin_div").clone();

            $("#add_more").on("click", function () {
                var add = origin.clone();
                var current_div = add.children('div');

                for (var i = 0; i < 5; i++) {
                    var element;
                    var attr_name;
                    // Because custom form! Can be optimised!
                    switch (i) {
                        case 0: // input #1
                            element = $(current_div[i]).children('input');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 1: // select #1
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 2: // select #2
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 3: // input #2
                            element = $(current_div[i]).children('input');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 4: // select #3
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                    }
                }
                count++;
                // Изменяет вложенный текст
                var text = add.children("#cv_h");
                console.log(text);
                $(text).attr('innerText', text.text('Резюме ' + count));

                add.appendTo("#div_to_add_new");
            });
        });
    </script>

    <div class="row">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}

                <div id="div_to_add_new">
                    <div id="origin_div">

                        <h3 id="cv_h">Резюме</h3>

                        <div class="form-group">
                            <label for="id_position">Должность</label>
                            <input type="text" class="form-control" id="id_position" name="position">
                        </div>

                        <div class="form-group">
                            <label for="id_employment">Занятость</label>
                            <select class="form-control" id="id_employment" name="employment">
                                <option selected></option>
                                <option value="Полная">Полная</option>
                                <option value="Частичная">Частичная</option>
                                <option value="Проектная работа">Проектная работа</option>
                                <option value="Волонтёрство">Волонтёрство</option>
                                <option value="Стажировка">Стажировка</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id_time_job">График работы</label>
                            <select class="form-control" id="id_time_job" name="time_job">
                                <option selected></option>
                                <option value="Полный день">Полный день</option>
                                <option value="Сменный график">Сменный график</option>
                                <option value="Гибкий график">Гибкий график</option>
                                <option value="Удалённая работа">Удалённая работа</option>
                                <option value="Вахтовый метод">Вахтовый метод</option>
                            </select>
                        </div>

                        <h5>Уровень заработной платы</h5>
                        <div class="form-group">
                            <label for="id_salary">Сумма</label>
                            <input type="text" class="form-control" id="id_salary" name="salary">
                        </div>

                        <div class="form-group">
                            <label for="id_type_salary">Валюта</label>
                            <select class="form-control" id="id_type_salary" name="type_salary">
                                <option selected></option>
                                <option value="BYN">BYN</option>
                                <option value="RUR">RUR</option>
                                <option value="USD">USD</option>
                                <option value="Euro">Euro</option>
                            </select>
                        </div>

                    </div>
                </div>

                <input type="button" value="Добавить навыки" id="add_more"
                       class="btn btn-outline-primary m-sm-1">

                <button type="submit" class="btn btn-outline-success m-sm-1"
                        id="save">Соранить все данные
                </button>
            </form>
        </div>
    </div>
{% endblock %}
