{% extends 'client/client_main_page.html' %}
{% load staticfiles %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}

    <!-- JS добавления однотипных форм -->
    <script type="text/javascript">
        $(document).ready(function () {
            var origin = $("#origin_div").clone();
            var count = 0;
            $("#add_more").on("click", function () {
                var add = origin.clone();
                count += 1;
                console.log(count);

                add.attr("id", "new_div");
                add.appendTo("#div_to_add_new");
            });
        });
    </script>

    <div class="row">
        <div class="col-md-8">

            <form method="post">
                {% csrf_token %}

                <h3>Общая информация</h3>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Имя:</span>
                    </div>
                    <input type="text" aria-label="First name" class="form-control" name="client_first_name"
                           value="имя" required
                           pattern="^[a-zA-Zа-яА-Я'-]{1,100}[ ]?[a-zA-Zа-яА-Я'-]{1,100}$">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Фамилия:</span>
                    </div>
                    <input type="text" aria-label="Last name" class="form-control" name="client_last_name"
                           value="Фамилия" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Отчество:</span>
                    </div>
                    <input type="text" aria-label="Middle name" class="form-control" name="client_middle_name"
                           value="Отчество" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_sex">Пол:</label>
                    </div>

                    <select class="custom-select" id="id_sex" name="sex">
                        {% for s in sex %}
                            <option selected value="{{ s }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_date_born">Дата рождения:</label>
                    </div>
                    <input type="date" name="date_born" aria-label="DateBorn" id="id_date_born">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_citizenship">Гражданство:</label>
                    </div>
                    <select class="custom-select" id="id_citizenship" name="citizenship">
                        {% for c in citizenship %}
                            <option selected value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_family_state">Семейное положение:</label>
                    </div>
                    <select class="custom-select" id="id_family_state" name="family_state">
                        {% for fs in family_state %}
                            <option selected value="{{ fs }}">{{ fs }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_children">Дети:</label>
                    </div>
                    <select class="custom-select" id="id_children" name="children">
                        {% for ch in children %}
                            <option selected value="{{ ch }}">{{ ch }}</option>
                        {% endfor %}
                    </select>
                </div>

                <h3>Адрес проживания</h3>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_country">Страна:</label>
                    </div>
                    <select class="custom-select" id="id_country" name="country">
                        {% for ct in country %}
                            <option selected value="{{ ct }}">{{ ct }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_city">Город:</label>
                    </div>
                    <select class="custom-select" id="id_city" name="city">
                        {% for ci in city %}
                            <option selected value="{{ ci }}">{{ ci }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Улица:</span>
                    </div>
                    <input type="text" aria-label="First name" class="form-control" name="street">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Дом:</span>
                    </div>
                    <input type="text" aria-label="House" class="form-control" name="house">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Квартира:</span>
                    </div>
                    <input type="text" aria-label="Flat" class="form-control" name="flat">
                </div>

                <h3>Контакты</h3>

                <div class="mb-3">
                    <div id="div_to_add_new">
                        <div class="form-group" id="origin_div">
                            <label for="id_skill">Телефон 1</label>
                            <input type="tel" class="form-control" id="id_skill" aria-describedby="small_phone"
                                   value="+" name="phone">
                            <small class="form-text text-muted" id="small_phone">
                                +375291234567 (код страны + код оператора + номер)
                            </small>
                        </div>
                    </div>

                    <input type="button" value="Добавить" id="add_more"
                           class="btn btn-outline-primary m-sm-1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Telegram:</span>
                    </div>
                    <input type="text" aria-label="Telegram" class="form-control"
                           name="telegram_link" value="@">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Skype:</span>
                    </div>
                    <input type="text" aria-label="Skype" class="form-control" name="skype_id">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">E-mail:</span>
                    </div>
                    <input type="email" aria-label="E-mail" class="form-control" name="email">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Linkedin:</span>
                    </div>
                    <input type="url" aria-label="Linkedin" class="form-control" name="link_linkedin">
                </div>

                <hr>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_state">Статус:</label>
                    </div>
                    <select class="custom-select" id="id_state" name="state">
                        {% for st in state %}
                            <option selected value="{{ st }}">{{ st }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-outline-success">Сохранить</button>

            </form>

            <a class="btn btn-outline-warning my-2" href="{% url 'client_profile' %}">Назад</a>
        </div>

        <div class="col-md-4">

            <h3>Дополнительно:</h3>

            <div class="list-group">
                <a href="{% url 'client_edit_education' %}" id="edit_education"
                   class="list-group-item list-group-item-action list-group-item-primary">
                    Образование +</a>
                <a href="{% url 'client_edit_skills' %}" id="edit_skills"
                   class="list-group-item list-group-item-action list-group-item-secondary">
                    Навыки +</a>
                <a href="{% url 'client_edit_experience' %}" id="edit_experience"
                   class="list-group-item list-group-item-action list-group-item-warning">
                    Опыт работы +</a>
                <a href="{% url 'client_edit_cv' %}" id="edit_cv"
                   class="list-group-item list-group-item-action list-group-item-info">
                    Резюме +</a>
                <a href="{% url 'client_edit_photo' %}" id="edit_photo"
                   class="list-group-item list-group-item-action list-group-item-danger">
                    Фото +</a>
            </div>
        </div>
    </div>

{% endblock %}