{% extends 'client/client_main_page.html' %}

{% block title %}
    Edit education
{% endblock %}

{% block content %}
    <!-- Test Code - Module Form Set-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add_more_edu').click(function () {
                var form_idx = $('#id_form-TOTAL_FORMS').val();
                $('#form_set_edu').append($('#empty_form_edu').html().replace(/__prefix__/g, form_idx));
                $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            });
        });
    </script>

    <div class="row">
        <div class="col-md-6">
            <h3>Образование FormSet</h3>
            <form method="post">
                {% csrf_token %}
                {{ edu_form.management_form }}
                <div id="form_set_edu">
                    {% for form in edu_form.forms %}
                        {{ form.non_field_errors }}
                        {{ form.errors }}
                        <table class='no_error'>
                            {{ form }}
                        </table>
                    {% endfor %}
                </div>
                <input type="button" value="Add More" id="add_more_edu" class="btn btn-outline-primary m-sm-1">
                <div id="empty_form_edu" style="display:none">
                    <table class='no_error'>
                        {{ edu_form.empty_form }}
                    </table>
                </div>
                <button type="submit" class="btn btn-outline-success m-sm-1">save</button>
            </form>
        </div>
    </div>
{% endblock %}